<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body style="background-color: black; color: white">
    <nav
      class="navbar position-fixed navbar-expand-md bg-dark navbar-dark"
      style="width: 100%"
    >
      <a class="navbar-brand" href="#">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <br />
    <!-- Container -->
    <div class="container-lg">
      <nav class="navbar bg-warning position-fixed popover">
        <a href="#">Navbar</a>
      </nav>
      <div class="jumbotron bg-danger">
        <h3>Collapsible Navbar</h3>
      </div>
      <!-- card -->
      <div class="card badge">
        <div class="card-title">Sample</div>
        <div class="card-body">
          <p>Sample Text</p>
        </div>
        <div class="card-body">
          <p>Sample Text</p>
        </div>
        <div class="card-footer">
          <p>Demo</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 col-md-4 col-lg-6 bg-primary my-2">
          <h3>First</h3>
        </div>
      </div>
      <div class="row">
        <div class="col bg-danger">
          <h3>Second</h3>
        </div>
        <div class="col bg-info">
          <h3>Third</h3>
        </div>
      </div>
      <div class="row my-2">
        <div class="col bg-success mx-2">
          <h4>Fourth</h4>
        </div>
        <div class="col bg-dark mx-2">
          <h4>Fifth</h4>
        </div>
        <div class="col bg-primary mx-2">
          <h4>Sixth</h4>
        </div>
      </div>
      <div class="row">
        <div class="col bg-info">Seventh</div>
        <div class="col">
          <div class="row bg-warning my-1">Eight</div>
          <div class="row bg-primary my-1">Nine</div>
          <div class="row bg-success my-1">Ten</div>
        </div>
      </div>

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti
      sit, nihil, nisi vitae, voluptate autem quisquam voluptas explicabo quo
      sapiente quasi minus? Possimus accusantium quisquam culpa accusamus
      reiciendis quod nemo voluptatibus. Non, culpa laudantium. Explicabo, ab.
      Nobis nostrum, porro veritatis ratione et reprehenderit deleniti laborum
      earum aperiam inventore assumenda repudiandae obcaecati voluptate eaque,
      praesentium perferendis, similique totam distinctio? Velit atque voluptate
      tempore saepe nostrum nihil nisi quo non qui, consequuntur asperiores odio
      officia assumenda, repellendus quos, ipsum modi praesentium eaque cum
      temporibus soluta aut corporis. Est quia eius repellat ea facere tempora
      officiis similique itaque aliquam ipsam, cupiditate illum voluptatum
      inventore possimus laboriosam ullam? Sunt similique quibusdam quaerat
      magnam pariatur suscipit quia ratione tempore eaque, consequuntur saepe
      molestias ipsum vel non sed voluptas ad inventore. Minus magni corporis
      quidem repellat cum ducimus, nemo placeat sint asperiores deserunt aut? Et
      inventore ex dolores, odio deleniti impedit suscipit maxime, architecto
      exercitationem, magni accusamus tempore illum? Optio dicta tenetur quo
      quod ipsa totam, accusamus aliquid, suscipit explicabo, eligendi dolores?
      Possimus fugiat accusantium nobis earum dolores! At eos quia iure
      excepturi repudiandae odit nesciunt et beatae vel possimus suscipit
      tenetur voluptatem, praesentium culpa soluta harum asperiores eaque
      necessitatibus laborum. Vitae dolor blanditiis sunt quas earum ea!
      Voluptates iure blanditiis aliquid accusantium soluta neque eos, possimus
      reprehenderit quam architecto repellendus, quidem ab. Recusandae
      reiciendis cumque facere enim hic optio dignissimos laudantium et iusto
      facilis numquam excepturi laborum omnis suscipit blanditiis, obcaecati
      doloremque nisi at sint asperiores? Unde eaque, dicta reiciendis aut saepe
      quas non, voluptates necessitatibus, repudiandae nobis adipisci qui vel
      quaerat? Laborum nobis ratione ex qui ipsam aspernatur exercitationem ut
      dolorem commodi repellendus, deleniti temporibus tempora est laudantium
      quasi assumenda sit facilis aut odio quisquam earum doloremque. Repellat,
      ipsam. Vitae, laborum neque pariatur dolorem aliquam eius similique dicta
      sequi blanditiis iste aspernatur fugiat nulla nesciunt laboriosam
      corrupti? Laborum minus nostrum culpa aliquid, iste saepe quas placeat
      voluptate et suscipit ratione quae repellendus, magnam, pariatur similique
      alias excepturi molestias ipsam autem natus ducimus inventore? Fugit ab
      esse enim culpa nihil tempore, dolorem, minima quae iste commodi, eos
      porro? Reiciendis aliquam mollitia adipisci reprehenderit molestiae
      placeat eius incidunt atque quos, vero officia iure, amet veniam illum ab
      voluptatem. Vitae, doloribus quae quo commodi provident corporis a aliquam
      sunt exercitationem ea perspiciatis alias eligendi aliquid blanditiis!
      Fuga, maxime! Voluptas aut rem voluptate dolorum provident quaerat fugit
      quas inventore, officiis doloribus quod et eveniet amet suscipit saepe
      aperiam nihil eum fuga libero tenetur accusamus qui nisi. Assumenda,
      inventore molestiae. Quidem, earum consequatur quas corporis vitae sed
      rerum repellat quos veniam eius quae ipsa dicta, sint accusantium. Quis
      illo id error sequi dolorum, repudiandae deleniti labore optio aliquam
      temporibus placeat illum vitae eius asperiores accusantium officia eaque
      magni! Dolorum vitae beatae, explicabo sed nostrum obcaecati nulla impedit
      magni sit suscipit harum repudiandae dignissimos adipisci debitis quasi
      illum saepe assumenda? Recusandae ex aut, cupiditate dolorem qui est
      laudantium. Ad amet blanditiis a fugiat nam dolorum ducimus eum odio
      suscipit culpa excepturi explicabo, veniam commodi ratione ipsam
      temporibus tempore facere tenetur? Nostrum iure expedita voluptate
      mollitia dolor deleniti perferendis blanditiis cupiditate recusandae
      debitis, officia fugiat atque voluptas quae quasi laboriosam. Non, vel at
      explicabo veniam recusandae voluptas nostrum inventore ipsum, ipsa dolore
      nulla sunt beatae quia animi? Quam molestiae aut debitis excepturi in
      commodi dolor vero. Officiis quasi, accusamus nemo optio sed neque
      voluptatum, quo pariatur eveniet esse facere minima laudantium perferendis
      eos, porro mollitia doloribus animi! Laborum est vitae deleniti, natus
      explicabo vero! Nam, quaerat. Ea ipsum repellat, tempora magnam natus
      earum perferendis adipisci quod unde atque obcaecati placeat cum sit vitae
      animi maxime amet laudantium nostrum pariatur veritatis! Sequi distinctio
      quam asperiores voluptatem obcaecati explicabo odit impedit repellat quos
      consectetur fuga quia doloribus, unde officia voluptas. Ratione neque quas
      unde nihil nesciunt, ex molestias odio obcaecati, quaerat aspernatur,
      dicta ducimus accusamus doloribus fugit. Dignissimos consectetur eveniet
      dolores laborum similique nostrum quam iste totam dolor fugit culpa unde
      ex enim qui minima molestiae mollitia, voluptas veritatis, pariatur quas
      reprehenderit non voluptates quibusdam quasi! Recusandae vitae vero
      numquam ipsa atque. Praesentium debitis, molestiae dignissimos obcaecati
      accusantium facere beatae voluptate iure voluptates sapiente incidunt
      iusto optio error quibusdam a laudantium quidem atque in at totam autem?
      Magnam itaque in libero dicta, officiis distinctio quis eligendi dolorem
      nisi expedita, optio deserunt sed minima blanditiis voluptatum ullam
      repellendus quas adipisci ex repudiandae. Veritatis doloribus eveniet
      dolores voluptatum impedit ipsa qui soluta, laborum consequuntur
      architecto harum quasi adipisci amet labore? Nesciunt in nemo maiores
      distinctio ea magnam labore fugit, officiis porro suscipit illo tenetur.
      Tenetur quam nulla odio atque modi nisi sint, delectus magnam amet itaque
      id et labore, commodi quod veniam non porro, nemo voluptates laudantium
      optio adipisci ipsa nesciunt molestias! Obcaecati quod odio facilis
      mollitia! Ipsum aliquam error ipsam repellendus, fugit animi velit nulla,
      voluptates perferendis quis omnis excepturi consequatur quaerat magni
      tenetur culpa, impedit corporis blanditiis eos mollitia exercitationem.
      Error mollitia adipisci perferendis fugit repellendus dignissimos ex
      impedit incidunt numquam earum minus obcaecati quae, voluptatum voluptas
      pariatur! Fugit libero aspernatur quaerat eaque dolore expedita esse
      placeat vel delectus, nisi aut facilis magni consequuntur hic recusandae
      voluptatibus quae saepe nam enim repudiandae impedit incidunt rerum sed
      illum? Reiciendis necessitatibus nulla rerum odio voluptates architecto
      ipsum voluptate omnis voluptatem, eveniet incidunt ad nemo neque nobis
      sequi totam ratione aperiam qui? Fugit debitis quisquam quaerat. Placeat,
      consequuntur accusantium tempora perferendis odit, ea at eius ad rerum id
      quibusdam officiis, sequi impedit voluptates doloremque autem dolorum
      dolore. Beatae debitis, omnis odit corporis ullam fugiat assumenda
      laudantium quisquam minus quos aliquid reprehenderit mollitia eius tempore
      delectus nesciunt quidem, asperiores consequuntur molestias pariatur. Eos
      quas laudantium iste magni! Amet, ad facilis quaerat maxime error ducimus
      nemo iusto aut dolore, obcaecati quidem earum impedit! Dolores inventore
      eos ducimus laboriosam repudiandae unde. Eius vero sed beatae itaque
      voluptatum tempore quisquam veritatis maiores? Expedita repudiandae quis
      ducimus esse molestiae fugiat quasi facere praesentium nobis in nesciunt
      nostrum exercitationem sint consectetur recusandae illo minus similique
      architecto corrupti, dolorum laboriosam? Necessitatibus placeat
      perspiciatis repudiandae cupiditate molestiae ducimus explicabo nesciunt
      quis, molestias labore.
    </div>
  </body>
</html>
