<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display data</datagrid></title>
    <style>
      h3 {
        color: aqua;
      }
      h3 span {
        color: red;
      }
      h4 {
        color: brown;
      }
      h4 span {
        color: blue;
      }
    </style>
  </head>
  <body>
    <h3>Welcome user: <span>{{nm}}</span></h3>
    <h4>Age is: <span>{{ag}}</span></h4>
  </body>
</html>
